.home{
    grid-area: C;
}
.product__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



@media screen and (max-width: 500px) {
      .product__items{
          justify-content: center;
      }
}