.navbar{
    grid-area: N;
    
}

.nav-item{
    background: #EA7C69;
    box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
    border-radius: 8px;
    padding: 8px;
}
.nav-item{
  margin-bottom: 20px;  
}
.nav-list{
    list-style-type: none;
}